.workout {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: black;
    background: url("../../Images/dumble.jpg");
    justify-content: center;
    margin: 2px;
    border-radius: 10px;
    
  }
  
  .total{
    background-color: burlywood;
    font-size: 16px;
    font-weight: bold;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #f8f8f8;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
  
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #fff;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  button[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }